{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="{% static 'assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css' %}">
{% endblock extra_css %}

{% block content %}
    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>{{ title }}</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="zmdi zmdi-home"></i>zDesk</a>
                        </li>
                        <li class="breadcrumb-item">Tickets</li>
                        <li class="breadcrumb-item active">{{ breadcrumb }}</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button">
                        <i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">

                </div>
            </div>
        </div>
        <div class="container-fluid">

            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>{{ table_title|safe }}</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-more"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                                        <li><a href="{% url 'ticket_list_all' %}">Todos</a></li>
                                        <li><a href="{% url 'ticket_list_todo' %}">Para fazer</a></li>
                                        <li><a href="{% url 'ticket_list_done' %}">Feitos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="para-fazer" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                    <tr>
                                        <th>Pedido</th>
                                        <th>Cliente</th>
                                        <th>WhatsApp</th>
                                        <th>Data Chamado</th>
                                        <th>Técnico pré diagnóstico</th>
                                        <th>Prioridade</th>
                                        <th>Problema</th>
                                        <th>Papel</th>
                                        <th>Técnico de campo</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Pedido</th>
                                        <th>Cliente</th>
                                        <th>WhatsApp</th>
                                        <th>Data Chamado</th>
                                        <th>Técnico pré diagnóstico</th>
                                        <th>Prioridade</th>
                                        <th>Problema</th>
                                        <th>Papel</th>
                                        <th>Técnico de campo</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for ticket in tickets %}
                                        {% if ticket.priority == 1 %}
                                            <tr class="table-danger">
                                                {% elif ticket.priority == 2 %}
                                            <tr class="table-warning">
                                                {% elif ticket.priority == 3 %}
                                            <tr class="table-primary">
                                                {% elif ticket.priority == 4 %}
                                            <tr class="table-info">
                                                {% elif ticket.priority == 5 %}
                                            <tr class="table-success">
                                                {% else %}
                                            <tr>
                                        {% endif %}
                                    <td>
                                        {% if ticket.order %}
                                            <span class="badge badge-primary">{{ ticket.order }}</span>
                                        {% else %}
                                            {{ ticket.pk }}
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'ticket_edit' pk=ticket.pk %}">{{ ticket.submitter_name }}</a>
                                    </td>
                                    <td>{{ ticket.submitter_phone }}</td>
                                    <td>{{ ticket.created|date:"d/m/Y H:m" }}</td>
                                    <td>
                                        {% if ticket.tecnico_pre_diagnostico %}
                                            <ul class="list-unstyled team-info margin-0">
                                                <li>
                                                    <img src="{{ ticket.tecnico_pre_diagnostico.userprofile.avatar.url }}" alt="{{ ticket.tecnico_pre_diagnostico.username }}">
                                                    {{ ticket.tecnico_pre_diagnostico.username }}
                                                </li>
                                            </ul>
                                        {% else %}
                                            Não definido
                                        {% endif %}
                                    </td>
                                    <td class="align-center">{{ ticket.get_priority_display }}</td>
                                    <td>
                                        {% for problem in ticket.problems %}{% if forloop.last %}'{{ problem }}'
                                        {% else %}'{{ problem }}', <br>{% endif %}{% endfor %}
                                    </td>
                                    <td class="align-center">
                                        {% if ticket.need_paper %}
                                            <span class="badge badge-success">Sim</span>
                                        {% else %}
                                            <span class="badge badge-default">Não</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if ticket.tecnico_de_campo %}
                                            <ul class="list-unstyled team-info margin-0">
                                                <li>
                                                    <img src="{{ ticket.tecnico_de_campo.userprofile.avatar.url }}" alt="{{ ticket.tecnico_de_campo.username }}">
                                                    {{ ticket.tecnico_de_campo.username }}
                                                </li>
                                            </ul>
                                        {% else %}
                                            Não definido
                                        {% endif %}
                                    </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_js %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'assets/bundles/datatablescripts.bundle.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.flash.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.print.min.js' %}"></script>

    <script src="{% static 'assets/js/extras/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/extras/datetime-moment.js' %}"></script>

    <script src="{% static 'assets/js/pages/tables/jquery-datatable.js' %}"></script>
{% endblock extra_js %}